@charset  "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to bottom, #5f2c82, #49a09d);
    }

    main > section#login {
        height: 350px;
        width: 90vw;
    }

    main > section#login > div#imagem {
        float: left;
        height: 100%;
        width: 40%;
    }

    main > section#login > div#formulario {
        float: right;
        width: 60%;
    }

    main > section#login > div#formulario > p {
        font-size: 1.1em;
        margin: 20px 0px;
    }

    main > section#login > div#formulario > h1 {
        font-size: 2em;
    }
}

@media screen and (min-width: 992px) {
    body {
        background-image: linear-gradient(to bottom, #5f2c82, #49a09d);
    }

    main > section#login {
        height: 360px;
        width: 950px;
    }

    main > section#login > div#imagem {
        float: right;
        height: 100%;
        width: 50%;
    }

    main > section#login > div#formulario {
        float: left;
        width: 50%;
    }

    main > section#login > div#formulario > p {
        font-size: 1.3em;
        margin: 20px 0px;
    }

    main > section#login > div#formulario > h1 {
        font-size: 2em;
    }
}